<h1>Quick Ranker</h1>
<h3>Add a new item</h3>

{{input value=newEntryName enter="addEntry"}}

<h3>Your items:</h3>

{{#each model.entries as |entry|}}
  <li>
    {{entry.name}}
    <button {{action "deleteEntry" entry}}>delete</button>
  </li>
{{/each}}

<h3>Ranking</h3>

{{#if empty}}
  Add some items in order to rank them
{{else}}
  {{#if completed}}
    Your order is:
    {{#each root.sortedEntries as |entry|}}
    <li>{{entry.name}}</li>
    {{/each}}
    <button {{action "rerank"}}>Reset ranking</button>
  {{else}}
    Which is better?
    {{#if flipLeftRight}}
      <button {{action "right"}}>{{nextChoice.right.top.name}}</button>
      <button {{action "left"}}>{{nextChoice.left.top.name}}</button>
    {{else}}
      <button {{action "left"}}>{{nextChoice.left.top.name}}</button>
      <button {{action "right"}}>{{nextChoice.right.top.name}}</button>
    {{/if}}
  {{/if}}
{{/if}}
